<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Descargar imagen - RSDI</title>
  <meta content="Red social de imagenes" name="descriptison">
  <meta content="imagenes, red social" name="keywords">

  <link href="assets/img/logo.png" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">RSDI</a></h1> -->
      <a href="inicio.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>          
          <li><a href="../Registro/index.html">Registrarse</a></li>
        </ul>
      </nav>
            
      <a href="../IniciarSesion/index.html" class="get-started-btn scrollto">Iniciar sesión</a>     
      
    </div>
  </header>
  
  <section id="hero"></section>

  <main id="main">

    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">
          <img src="assets/img/portfolio/descarga.jpg" class="img-fluid" alt="">
          
          <div class="portfolio-info">
            <h3>Crema Spa</h3>
            <ul>
              <li><strong>Descargas: </strong>: 1.6M</li>
              <li><strong>Propietario</strong>: Eddy Hide</li>
              <li><strong>Fecha</strong>: 1 Dic, 2020</li>
              <li><button class="btn btn-success btn-md">Descargar</button></li>
            </ul>
          </div>

        </div>       

      </div>
    </section>

  </main>
  
  <footer id="footer">    

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Grupo I</span></strong>. Bajo licencia estudiantil
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Terceros JS -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>  
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>  
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Main JS -->
  <script src="assets/js/main.js"></script>

</body>

</html>