<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>
    <div id="forma1">
        <h1>Enhorabuena!</h1>
        <br><br><br>
        <h1>Su cuenta ha sido activada con éxito!</h1>
        <a class="btn btn-primary" href="../IniciarSesion/index.html">Iniciar Sesión</a>        
    </div>
</body>
</html>