<html>
	<head>
		<link href='styles.css' rel='stylesheet'>
		<meta charset="utf-8"/>
	</head>
	<body style="margin:0px;">
	 <div style="width: 1440px; height: 100%; position:relative; margin:auto;"> 
		<div class='sk-ab sk-Desktop'>
			<form method="POST">
			<div class='sk-asset sk-solid-white-bg-2D949D4D-C9F6-499A-AA60-C8E374978D11'></div>
			<div class='sk-asset sk-transparent-bg-3AEDF8DF-ED68-4AC1-836E-528ECEBC5E7B'></div>
			<div class='sk-asset sk-Rect-769BC27E-B572-446F-AF5B-50F3513C2F12'></div>
			<div class='sk-asset sk-Log-In-F4D6EF02-D17E-4B49-922B-7F5B3420F31A'><span class="span1">¿Ya está registrado? </span><span class="span2"><a href="https://www.google.com">Inicie Sesión.</a></span></div>
			<div class='sk-asset sk-Divider-C2C4683C-DE6D-42BE-BA28-903936BB137F'></div>
			<div class='sk-asset sk-BTN-Register-E8E6B5DB-18B2-4641-8B37-17D1823BB033'>
				<input type="submit" value="Registrarse" class='sk-asset sk-Rectangle-2-Copy-3-D59FF9F2-660B-4E37-B731-2FFAFE5F028F'/>
			</div>
			<div class='sk-asset sk-INPUT-Password-2393DE23-3762-43FE-A36D-20BA50005684'>
				
				<input type="password" name="password" id="password" placeholder="  Contraseña" class='sk-asset sk-Rectangle-2-Copy-2-8ADFC453-F470-45F8-AE11-E2625616A9DC'/>

			</div>
			<div class='sk-asset sk-INPUT-Email-E88BF9E4-515B-45EF-BF94-AA4A63DC439D'>

				<input type="email" name="correo" id="correo" placeholder="  Correo" class='sk-asset sk-Rectangle-2-Copy-952BA14C-3088-4411-92E1-32655A20B753'/>

			</div>
			<div class='sk-asset sk-INPUT-Name-25CCAD7F-8E06-4DD0-901D-4E172E2318E3'>

				<input type="text" name="name" id="name" placeholder="  Usuario" class='sk-asset sk-Rectangle-2-3E167558-B285-4CEE-B0DD-B0C87CAF1D97'/>
	
			</div>
			<div class='sk-asset sk-Head-13F6C045-F14E-49D3-8075-1CF5E1E0DBBD'>
				<div class='sk-asset sk-Registro-BE1D7ADC-E64E-42B9-8C68-70749E18840E'><span class="span1">Registro</span></div>
			</div>
			</form>
		</div>
	</div>
	</body>
</html>