<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="forma1" method="POST">
        <h2>Iniciar Sesión</h2>
        <br><br><br>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
        <br><br>
        <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
        <br><br><br>
        <input type="submit" name="iniciarSesion" value="Iniciar Sesión" id="botonIniciarSesion">
        <br><br><br>
        <input type="checkbox" name="recordarme" id="recordarme">
        <label for="recordarme" id="recordarmeLabel"> Recordarme</label>
        
        <br><br>
        <p id="textOlvideContrasena">¿Olvidó su contraseña?  </div> 
        <a id="recuperarContrasena" href="https://www.google.com/" target="_blank">Recupérela</a>
    </form>

</body>
</html>