body{
    background-color: #a595e6;
}

#forma1{
    width: min-content;
    height: min-content;
    padding: 5%;
    background:#ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1.5%;
}

#botonIniciarSesion{
    text-align: center;
    background-color: #3766ff;
    border: none;
    font-size: 16px;
    color: #ffffff;
    min-width: 277px;
    min-height: 40px;
}
input{
    min-width: 260px;
    min-height: 35px;
    border-radius: 4px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    padding-left: 3%;
    padding-right: 3%;
}
#recordarme{
    min-width: min-content;
    min-height: min-content;
    float: left;
}
#recordarmeLabel{
    float: left;
    font-size: 15px;
    color: rgb(65, 102, 223);
    padding-left: 1%;
}

#recuperarContrasena{
    color: rgb(65, 102, 223);
}
#textOlvideContrasena{
    color: dimgray;
}
h2{
    color: rgb(105, 104, 104);
}