<html>
	<head>
        <meta charset="utf-8"/>
        <title>Recuperar Contraseña</title>
        <script src="validacion.js"></script>
        <link rel="stylesheet" href="style.css'">
	</head>
    <body style="margin:0px;">
        <form id="forma1" method="POST" onsubmit="return validarDatos();" action="{{ url_for('recuperacion')}}">
            <h2>Recuperar Contraseña</h2>
            <br><br><br>
            <div id="mensajeCorreo">
                <p>Ingresa tu Correo</p>    
            </div>
            <input type="text" name="email" id="email" placeholder="E-mail" oninput="limpiarAlertasEmail();">
            <br><br><br><br><br>
            <br><br><br>
            <input type="submit" name="Enviar" value="Enviar" id="botonEnviar" style="cursor: pointer;">
            <br><br><br>
        </form>
	</body>
</html>
