<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación Cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
</head>
<body>
    <div id="forma1">
        <h1>¡Enhorabuena!</h1>
        <br><br>
        <h1>Su cuenta ha sido activada con éxito.</h1>
        <br>
        <a class="btn btn-primary" href="{{ url_for('login') }}">Iniciar Sesión</a>        
    </div>
</body>
</html>