<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recuperar.css') }}">
    <script src="{{ url_for('static', filename='js/validacion.js') }}"></script>
</head>
<body>
    <form id="forma1" method="POST" onsubmit="return validarDatos();" action="{{ url_for('login')}}">
        <h2>Recuperar Contraseña</h2>
        <br><br><br>
        <div id="mensajeIngresarContraseña">
            <p>Ingresa tu nueva contraseña</p>
        </div>
        <div id="mensajeContraseñaNoCoincide">
            <p>Las contraseñas no coinciden</p>
        </div>
        <input type="password" name="contrasena" id="contrasena" placeholder="Nueva Contraseña" oninput="limpiarAlertasContraseña();">
        <br><br><br>
        <div id="mensajeConfirmarContraseña">
            <p>Confirma tu nueva contraseña</p>
        </div>
        <input type="password" name="confirmarContrasena" id="confirmarContrasena" placeholder="Confirmar Contraseña" oninput="limpiarAlertasConfirmarContraseña();">
        <br><br><br>
        <input type="submit" name="guardar" value="Guardar" id="botonGuardar">
        <br><br><br>
    </form>

</body>
</html>