<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RSDI - Dashboard</title>
  <meta content="Red social de imagenes" name="descriptison">
  <meta content="imagenes, red social" name="keywords">

  <link href="/static/img/logo.png" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">RSDI</a></h1> -->
      <a href="/" class="logo mr-auto"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Inicio</a></li>
          <li><a href="#">Usuario</a></li>
          <li class="drop-down"><a href="">Imagenes</a>
            <ul>
              <li><a href="/imagen_crear">Subir imagen</a></li>
              <li><a href="/portafolio">Ver portafolio</a></li>
            </ul>
          </li>
          <li><a href="/logout">Salir</a></li>

        </ul>
      </nav>
      <!--
      <a href="#about" class="get-started-btn scrollto">Iniciar sesión</a>
      <a href="#about" class="get-started-btn scrollto">Registrarse</a>
      -->
    </div>
  </header>
  
  <section id="hero"></section>

  <main id="main">

    <section>
      <div class="section-title">
        <h2>Red Social De Imagenes</h2>
        <p>Sube, comparte, busca y descarga tus imagenes.</p>
      </div>

      <div id="searcher">

        <div class="searcher-newsletter">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                {% if palabraClave and palabraClave != "" %}
                  <h4>{{ mensaje1 }}</h4>
                  <h6>{{ mensaje2 }}</h6>
                {% else %}
                  <h4>Busca todas las imagenes</h4>
                {% endif %}                
                <form action="{{ url_for('buscar')}}" method="post">
                  <input type="text" name="buscar" placeholder="Palabra clave..." value="{{ palabraClave }}"><input type="submit" value="Buscar">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="portfolio">      

      <div class="container" data-aos="fade-up">

        
        <!--
        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">Todo</li>
          <li data-filter=".filter-public">Publicas</li>
          <li data-filter=".filter-private">Privadas</li>
        </ul>
        -->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <!-- iteracion dinamica para renderizacion de las imagenes -->
          {% for image in images %}

            <div class="col-lg-4 col-md-6 portfolio-item filter-public">
              <div class="portfolio-img"><img src="/static/uploads/{{ image[4] }}" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{ image[1] }}</h4>
                <a href="/static/uploads/{{ image[4] }}" data-gall="portfolioGallery" class="venobox preview-link" title="Ver"><i class="bx bx-camera"></i></a>
                <a href="/imagen_ver/{{ image[0] }}" class="details-link" title="Visualizar"><i class="bx bx-download"></i></a>
                <!-- <a href="/imagen_descargar?imagen=portfolio-1.jpg" class="details-link" title="Descargar"><i class="bx bx-download"></i></a> -->
                <a href="/imagen_borrar/{{ image[0] }}" class="delete-link" title="Eliminar"><i class="bx bx-trash"></i></a>
                <a href="/imagen_actualizar/{{ image[0] }}" class="edit-link" title="Actualizar"><i class="bx bx-edit"></i></a>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section>

  </main>  

  <footer id="footer">    

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Grupo I</span></strong>. Bajo licencia estudiantil
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Terceros JS -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>  
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>  
  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Main JS -->
  <script src="/static/js/main.js"></script>

</body>

</html>
