<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="forma1" method="POST">
        <h2>Recuperar Contraseña</h2>
        <br><br><br>
        <input type="password" name="contrasena" id="contrasena" placeholder="Nueva Contraseña">
        <br><br><br>
        <input type="password" name="confirmarContrasena" id="confirmarContrasena" placeholder="Confirmar Contraseña">
        <br><br><br>
        <input type="submit" name="guardar" value="Guardar" id="botonGuardar">
        <br><br><br>
    </form>

</body>
</html>